@import 'styles/unit.scss';
.item {
  padding: 0 rem(10);
  .card {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.02);
    border-radius: rem(12);
    overflow: hidden;
    cursor: pointer;

    .img {
      height: rem(160);
      position: relative;
    }
    .body {
      background-color: #fff;
      height: rem(114);
      padding: rem(12);
      p {
        font-weight: 600;
        font-size: rem(22);
        line-height: rem(30);
      }
      .options {
        display: flex;
        align-items: center;
        column-gap: rem(12);
        margin-top: rem(16);
        .option {
          width: 30%;
        }
      }
    }
  }
}
