@import "styles/unit.scss";
.list {
  padding-bottom: rem(40);
  .cardHead {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .title {
      font-weight: 500;
      font-size: rem(28);
      line-height: rem(35);
      margin-bottom: rem(14);
    }
    .btnCard {
      display: none;
    }
  }
  .slider {
    margin: 0 rem(-10);
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: rem(24);
    row-gap: rem(24);
    .item {
      padding: 0;
    }
  }
}

.sliderArrow {
  top: calc(50% - rem(50));
}

@media (max-width: 768px) {
  .list {
    padding-bottom: rem(28);
    .cardHead {
      .title {
        font-size: rem(20);
        line-height: rem(25);
        margin-bottom: rem(20);
        font-weight: 600;
      }
      .btnCard {
        background: transparent;
        display: flex;
        align-items: center;
        gap: rem(8);
        p {
          font-size: rem(13);
          line-height: rem(18);
          color: #b0babf;
        }
        svg {
          fill: #b0babf;
        }
      }
    }
    .slider {
      margin-right: rem(-12);
      margin-left: rem(-6);
      .sliderCard {
        width: rem(253);
      }
    }
    .items {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: rem(12);
      .item {
        padding: 0;
      }
    }
  }
}
@media (max-width: 576px) {
  .list {
    .items {
      grid-template-columns: 1fr;
      .item {
        padding: 0;
      }
    }
  }
}
