.radio {
  input {
    width: 13px;
    height: 13px;
    margin: -1px;
    position: absolute;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
  }

  .box {
    &.active {
      border: 6px solid var(--primary-color);
      transition-timing-function: ease-out;
    }
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition-property: border-color, border-width, box-shadow;
    transition-duration: 0.12s;
    border: 2px solid #e5e9eb;
  }
}
