@import "styles/unit.scss";
.list {
  padding-bottom: rem(46);
  .title {
    font-weight: 600;
    font-size: rem(28);
    line-height: rem(35);
    margin-bottom: rem(24);
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(24);
    row-gap: rem(16);
  }
}

@media (max-width: 768px) {
  .list {
    padding-bottom: rem(30);
    .title {
      font-weight: 600;
      font-size: rem(20);
      line-height: rem(25);
      margin-bottom: rem(20);
    }
    .body {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: rem(16);
      row-gap: rem(16);
    }
  }
}
